@use 'cores';

.header{
    width: 100%;
    height: 6.5rem;

    display: grid;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    align-items: center;
    justify-content: space-evenly;

    font-family: "Poppins", sans-serif;
    color: cores.$primeira-cor;
    background-color: cores.$segunda-cor;
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        &--icon{
            width: 36px;
        }
        &--titulo{
            padding-left: 0.5rem;
            font-size: 1.5rem;
        }
    }
    &__nav{
        &__ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                }
                font-size: 1.5rem;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                &:hover{
                    border-bottom: 2px solid white;
                }
            }
        }
    }
    &__timer{
        display: flex;
        align-items: center;
        justify-content: center;
        &--logo{
            width: 64px;
            img{
                width: 100%;
            }
        }
        &--tempo{
            padding-left: 2rem;
        }
    }


    @media(max-width: 600px){
        height: 9rem;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        &__logo{
            grid-row: 1;
            align-self: flex-end;
            &--icon{
                width: 32px;
            }
            &--titulo{
                font-size: 4vw;
            }
        }
        &__nav{
            grid-row: 2;
            grid-column: 1 / -1;
            padding-top: 4vw;
            &__ul{

                li{
                        font-size: 4.4vw;
                        text-align: center;
                }
            }
        }
        &__timer{
            flex-direction: column;
            justify-self: end;
            padding-right: 2vw;
            grid-row: 1;
            &--logo{
                width: 40px;
                position: relative;
            }
            &--tempo{
                padding-left: 0.5rem;
                &--tag{
                    font-size: 4vw;
                }
            }
        }
    }

    @media(min-width: 601px) and (max-width: 992px){
        height: 8rem;
        padding: 10px;
        grid-template-columns: 0.5fr 1.5fr 0.6fr;
        &__logo{
            &--titulo{
                font-size: 2.5vw;
            }
        }
        &__nav{
            &__ul{
                li{
                    font-size: 2.5vw;
                    text-align: center;
            }
            }
        }
        &__timer{
        
            flex-direction: column;
            &--logo{
                width: 60px;
            }
            &--tempo{
                padding-left: 0.5rem;
                &--tag{
                    font-size: 2vw;
                }
            }
        }
    }

}