@use 'cores';
.Main{
    width: 98vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15vh;
    &__Texto{
        width: 60%;
        justify-self:center;
        align-self: flex-start;
        h2{
            font-size: 7vw;
            color: cores.$primeira-cor;
            font-family: "Poppins", sans-serif;
            line-height: 8vw;
        }
        p{
            margin-top: 3vw;
            width: 36.7rem;
            font-size: 1.2vw;
            line-height: 2vw;
            color: cores.$primeira-cor;
            font-family: "Roboto", sans-serif;
        }
    }
    &__Image{
        img{
            display: block;
            margin: 0 auto;
            width: 75%;
        }
    }
    @media(max-width: 600px){
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr;
        &__Texto{
            width: 100vw;
            h2{
                padding-top: 5vh;
                font-size: 11vw;
                text-align: center;
                line-height: 15vw;
            }
            p{
                margin: 0 auto;
                padding-top: 5vw;
                width: 90%;
                font-size: 5vw;
                line-height: 8vw;
            }
        }
        &__Image{
            width: 100vw;
            img{
                margin: 0;
                margin-left: auto;
                margin-right: 2vw;
                width: 65%;
            }
        }
    }
    @media(min-width: 601px) and (max-width: 992px){
        height: 80vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
        padding: 2vw;
        margin-top: 5vh;
        &__Texto{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                font-size: 12vw;
                line-height: 15vw;
                padding-left: 2vw;
                width: 80%;
            }
            p{
                margin-left: auto;
                line-height: 5vw;
                width: 80%;
                font-size: 3.5vw;
            }
        }
        &__Image{
            display: flex;
            align-items: center;       
            margin-right: 3vw;
            img{
                width: 65%;
            }
        }
    }
}