@use 'cores';
@use 'header';
@use 'hero';
@use 'sobre';
@use 'agenda';
@use 'tecnologias';
@use 'registrar';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1F2937;
}